<form action="/buyButton" method="POST">
    <div class="f-group">
        <label for="" class="title">Select meterId</label>
        <select name="slct" id="slct" class="slct1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="3">7</option>
            <option value="4">8</option>
            <option value="5">9</option>
        </select>
    </div>
        
            <h3>Enter units:</h3>
            <input type="text" name="inputBox" value="" placeholder="eg.20">
    

        
            <button class="button-primary buy" type="submit" name="button">Buy</button>
        
</form>