<h2>Streets</h2>

<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>

<h2><a href="/appliances">See appliances and their respective electricity usage rates.</a></h3>

<h2><a href="/topupUnits">Buy eletricity</a></h2>

<h2><a href="/useUnits">Use eletricity</a></h2>

<h2><a href="/trackMeterId">Track data for a given meterId</a></h2>


