<form action="/useButton" method="POST">
    <div class="f-group">
        <label for="" class="title">Select meterId</label>
        <select name="slct1" id="slct1" class="slct1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="3">7</option>
            <option value="4">8</option>
            <option value="5">9</option>
        </select>
    </div>

    <div class="f-group">
        <label for="" class="title">Select appliance</label>
        <select name="slct2" id="slct2" class="slct1">
            <option value="4.50">Stove</option>
            <option value="1.80">TV</option>
            <option value="3.50">Heater</option>
            <option value="4.00">Fridge</option>
            <option value="2.70">Kettle</option>
        </select>
    </div>
          <button class="button-primary use" type="submit" name="button">Use</button>
        
</form>